descargas/Ejemplos_2023_2024/Tema_4_XML/03_dtd_piezas_variante_1/piezas.dtd

<!ELEMENT listapiezas   (pieza+)>
<!--El ? permite hacer un elemento OPCIONAL-->
<!ELEMENT pieza         (peso?, nombre,fabricante)>
<!ELEMENT peso          (#PCDATA)>
<!ELEMENT nombre        (#PCDATA)>
<!ELEMENT fabricante    (#PCDATA)>
<!--El #IMPLIED es para hacer un atributo opcional-->
<!ATTLIST fabricante pais CDATA #IMPLIED>