descargas/Ejemplos_2023_2024/Tema_4_XML/04_dtd_repuestos/repuestos.dtd

<!ELEMENT repuestos   (repuesto+)>
<!ELEMENT repuesto    (tornillo|tuerca)>
<!ELEMENT tornillo    (descripcion)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT tuerca      (material)>
<!ELEMENT material    (#PCDATA)>
<!ATTLIST tornillo peso      CDATA #REQUIRED>
<!ATTLIST tuerca   peso      CDATA #IMPLIED>